NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.wzbwdccorbkuelzvbxlt.supabase.co:5432/postgres
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind6YndkY2NvcmJrdWVsenZieGx0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3Mjg0OTgsImV4cCI6MjA5NjMwNDQ5OH0.MwdW2KOOS0esPFlN20nt1x6PMtmkvarA9yc7HZ4JJsg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind6YndkY2NvcmJrdWVsenZieGx0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDcyODQ5OCwiZXhwIjoyMDk2MzA0NDk4fQ.ZIq6TG04HDe940KKdyRveKE_zsk1pZ4pOcPXH2vYRRM
RESEND_API_KEY=
RESEND_FROM_EMAIL=
